*{
    font-family: Palatino, URW Palladio L, serif;
    box-sizing: border-box;
}
body
{
    background-image: url(https://wallpapercave.com/wp/wp3156192.jpg);
}
h1, h2, h4, li{
    color: #fff;
}
p{
    font-size: x-large;
    color: #ffff;
    text-align: left;
    
}
.container
{
    width: 100%;
    min-width: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
nav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 180px;
    cursor: pointer;
}
nav ul
{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    font-size: larger;
    text-decoration: none;
    color: #e5e5e5;
    font-weight: bold;
    font-family: sans-serif;
}
nav ul li a:hover{
    background: linear-gradient(45deg, red, green);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.content{
    margin-top: 14%;
    color: #fff;
    max-width: 620px;
}
.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}
.content form{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}
.content form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
}
.content form .btn{
    font-size: 15px;
    padding: 10px 30px;
    color: pink;
}
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  .dropdown{
    position: relative;
    display: inline-block;
    text-align: left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(159, 248, 5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {color:-moz-linear-gradient(red,blue,purple)}

.dropdown:hover .dropdown-content {
  display:list-item ;
}